body {
  background-image: url('media/background_clock.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}
#timer {
  color: #5cb85c;
  font-size: 2.5em;
}
#timer-toggle, #timer-reset, #timer-reset-interval {
  width: 120px;
}
.flex-row {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.controls {
  display: flex;
  flex-direction: column;
}
#timer-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3em;
}
#main-box {
  margin-top: 20%;
}
.control-num {
  font-size: 2em;
}
.well {
  opacity: 0.8;
}
.control-label {
  padding: 5px;
}
